textarea{
	width: 100%;
}
.resize-none{resize: none;}
.height-auto{height: auto !important;}

button[type="submit"]{
	font-size: .9rem;
}

a{
	text-decoration: none;
	color: var(--bs-dark);
}
a:hover{font-weight: 600;}