textarea{
	width: 100%;
}
.resize-none{resize: none;}
.height-auto{height: auto !important;}

button[type="submit"]{
	font-size: .9rem;
}

a{
	text-decoration: none;
	color: var(--bs-dark);
}
/*a:hover{font-weight: 600;}*/

.carousel{
	height: 600px;
}
.carousel .carousel-inner{
	height: 100%;
}
.carousel .carousel-item{
	width: 100%;
	height: 100%;
}
.carousel .carousel-item img{
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}