<html layout:decorate="~{layout}">
<div class="container py-5" layout:fragment="content">
	
	<div class="mb-5">
		<h1 class="fw-bold border-bottom mb-3 pb-3">질문 목록</h1>
		<div class="d-flex justify-content-between align-items-center">			
			<a th:href="@{/question/create}" class="btn btn-dark px-4 py-2 rounded-pill fw-semibold">질문 등록</a>
			
			<div class="d-flex justify-content-end align-items-center gap-2">
				<div class="">
					<input type="text" id="search" class="form-control" th:value="${keyword}" />
				</div>
				<button id="btn-search" class="btn btn-dark">검색</button>
			</div>
			
			<form th:action="@{/question/list}" method="get" id="searchForm" hidden>
				<input type="text" id="keyword" name="keyword" th:value="${keyword}" />
				<input type="text" id="page" name="page" th:value="${pagination.number}" />
			</form>
		</div>
	</div>
	
	<table class="table table-striped table-hover">
	    <thead>
	        <tr>
	            <th scope="col">번호</th>
	            <th scope="col">제목</th>
	            <th scope="col">작성자</th>
	            <th scope="col">작성 날짜</th>
	        </tr>
	    </thead>
	    <tbody class="table-group-divider">
	        <tr th:each="question, loop: ${pagination}">
	            <td th:text="${pagination.getTotalElements-(pagination.number*pagination.size)-loop.index}"></td>
	            <td><a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a><span class="badge bg-primary ms-2" th:if="${#lists.size(question.answerList)>0}" th:text="${#lists.size(question.answerList)}">댓글</span></td>
				<td th:text="${question.author?.username}"></td>
	            <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd hh:mm:ss')}"></td>
	        </tr>
	    </tbody>
	</table>
	
	<!--pagination-->		
	<nav aria-label="Page navigation example" th:if="${!pagination.isEmpty()}">
		<ul class="pagination justify-content-center">
		    <li class="page-item" th:classappend="${!pagination.hasPrevious} ? 'disabled' : ''">
				<a href="javascript:void(0);" class="page-link" th:data-page="${pagination.number-1}">Previous</a>
			</li>
			
		    <li class="page-item" th:classappend="${pagination.number==page} ? 'active' : ''" th:each="page : ${#numbers.sequence(0, pagination.totalPages-1)}" th:if="${page>=pagination.number-2 and page<=pagination.number+2}">
				<a href="javascript:void(0);" class="page-link" th:data-page="${page}" th:text="${page+1}">0</a>
			</li>
			
		    <li class="page-item" th:classappend="${!pagination.hasNext} ? 'disabled' : ''">
				<a href="javascript:void(0);" class="page-link" th:data-page="${pagination.number+1}">Next</a>
			</li>
		</ul>
	</nav>
</div>

<script layout:fragment="script">
	document.querySelectorAll(".page-link").forEach(elem=>{
		elem.addEventListener("click", e=>{
			document.querySelector("#page").value=e.target.dataset.page;
			document.querySelector("#searchForm").submit();
		})
	})
	
	document.querySelector("#btn-search").addEventListener("click", e=>{
			document.querySelector("#keyword").value=document.querySelector("#search").value;
			document.querySelector("#page").value=0;
			document.querySelector("#searchForm").submit();
		})
</script>
</html>